<div class="atencao modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body">
                <p>Esta operação <strong>não pode ser desfeita</strong>!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="continuar btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Continuar
                </button>
                <button type="button" class="cancelar btn btn-default pull-left" data-dismiss="modal">
                    <i class="fa fa-undo" aria-hidden="true"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>