<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ConsuManager</title>

    <link href="/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/templates/auth/login/login.css" rel="stylesheet">

</head>
<body>

<div class="row">
    <div class="box col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

        <img src="/templates/auth/login/logo_una.png" alt="Logo UNA">

        <form id="form-login">
            <div class="form-group col-xs-12">
                <label for="ipt-user">E-mail</label>
                <input type="email" class="form-control" name="user" id="ipt-user">
            </div>
            <div class="form-group col-xs-12">
                <label for="ipt-password">Senha</label>
                <input type="password" class="form-control" name="password" id="ipt-password">
            </div>
            <div class="form-group col-xs-12">
                <button type="submit" class="btn-login btn btn-default" data-redirect="/agenda">Login</button>
            </div>
            <div class="form-group col-xs-12 fail-message">
                <div class="alert alert-danger" role="alert">
                    Dados de acesso inválidos.
                </div>
            </div>
        </form>


    </div>
</div>
<footer class="footer-default text-center">
    © {{ "now"|date('Y') }} Copyright Text
</footer>

<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="/templates/auth/login/login.js"></script>

</body>
</html>