@import "../layouts/sistema/sistema-not";

.dt {
  margin: 0 0 5px;
}

.bootcards-cards {

  .btn {
    font-weight: bold;
  }

  .panel-body {

    p {
      font-size: 28px;
      color: #d9534f;
    }
  }

  .panel-heading {
    .truncate;
  }
}